.h-logo-1200{
    width: 46px;
    height: 47px;
}

.h-title-1200{
    position: absolute;
    top:10px;
    margin-left: 10px;
    display: inline;
}

.h-title-app-name-1200{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 100%;
    letter-spacing: 0.55px;
    color: #CF5EA4;
}

.h-title-description-1200{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 9.8px;
    line-height: 100%;
    color: #4E4B66;
}