.h-logo-720{
    width: 30px;
    height: 30px;
}

.h-title-720{
    position: absolute;
    top:10px;
    margin-left: 10px;
    display: inline;
}

.h-title-app-name-720{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 384;
    font-size: 14.4px;
    line-height: 100%;
    letter-spacing: 0.352px;
    color: #CF5EA4;
}

.h-title-description-720{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 6.24px;
    line-height: 100%;
    color: #4E4B66;
}

.h-language-butt-720{
    align-items: center;
    padding: 6.4px 16px;
    border: 1px solid #A0A3BD;
    box-sizing: border-box;
    border-radius: 5.02817px;
    background-color: transparent;
}

.h-language-butt-content-720{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 320;
    font-size: 8.96px;
    line-height: 13.44px;
    text-align: center;
    letter-spacing: -0.5px;
    color: black;
}

.b-main-text-720{
    font-family: 'Sora';
    font-style: normal;
    font-weight: bold;
    font-size: 25.6px;
    line-height: 140%;
    letter-spacing: -0.02em;
    padding-top: 20px;
}

.b-main-img-720{
    position: absolute;
    z-index: -1;
    height: 463,2px;
    width: 419,0px;   
}

.b-main-img-cont-720{
    margin:-30% 0 0 -25%;
}

.f-logo-720{
    position: relative;
    opacity: 0.6;
    top: 40px;
}

.f-app-name-720{
    position: relative;
    color: #A0A3BD;
    font-size: 10.24px;
    font-weight: 384;
    letter-spacing: 0.55px;
    font-family: 'Poppins';
    top: 43px;
}

.f-email-720{
    position: relative;
    color: #A0A3BD;
    opacity: 0.8;
    font-size: 13.4px;
    font-weight: 384;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-family: 'Poppins';
    top: 80px;
}