.h-logo-mobile{
    width: 24px;
    height: 20px;
}

.h-title-mobile{
    position: absolute;
    top:10px;
    margin-left: 10px;
    display: inline;
}

.h-title-app-name-mobile{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 384;
    font-size: 14.4px;
    line-height: 100%;
    letter-spacing: 0.352px;
    color: #CF5EA4;
}

.b-clouds{
    float: left;
    width: 50%;
}

.b_clouds-cont-mobile{
    z-index: -1;
    position: absolute;
}
