.h-logo-mobile{
    width: 30px;
    height: 30px;
}

.h-title-mobile{
    margin: 1% 0 0 1%;
}

.h-title-app-name-mobile{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14.4px;
    line-height: 100%;
    letter-spacing: 0.352px;
    color: #CF5EA4;
}

.h-language-button-mobile{
    margin:-7% 0 0 70%;
}

.b-main-text-mobile{
    font-family: 'Sora';
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 140%;
    letter-spacing: -0.02em;
    padding-top: 40px;
    text-align: center;
}

.b-app-links-container-mobile{
    text-align: center;
}

.b-img-appstore-mobile{
    height: 45px;
    width: 153px;
}

.b-img-winstore-mobile{
    height: 45px;
    width: 153px;
}

.b-log-winstore-mobile{
    margin-left: 0;
    padding-top: 20px
}

.b-contact-text-mobile{
    font-family: Sora;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #6E7191;
}

.b-mail-text-mobile{
    font-family: Sora;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    color: #4E4B66;
    text-align: center;
    padding-top: 10px;
}

.b-links-cont-mobile{
    text-align: center;
    padding-top: 10px;
}

.b-main-img-mobile{
    height: 463.2px;
    width: 419.0px;   
}

.h-language-butt-content-mobile{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.5px;
    color: black;
}

.b-clouds{
    float: left;
    width: 50%;
}

.b_clouds-cont-mobile{
    z-index: -1;
    position: absolute;
}

.f-logo-moblie{
    position: relative;
    opacity: 0.6;
    top: 40px;
}

.f-app-name-mobile{
    position: relative;
    color: #A0A3BD;
    font-size: 8.19px;
    font-weight: 307.2;
    letter-spacing: 0.55px;
    font-family: 'Poppins';
    top: 43px;
}

.f-email-mobile{
    position: relative;
    color: #A0A3BD;
    opacity: 0.8;
    font-size: 10.72px;
    font-weight: 307.2;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-family: 'Poppins';
    top: 80px;
}

.hidden {
    display: none;
}
