@page "/login"
@using Funtik.Models.Services
@layout LoginLayout
@inject IIdentityService IdentityService

<div>
    <div>
        <input @bind-value="@_token"/>
    </div>
    <div>
        <label>Login</label>
        <input @bind-value="@_user" @bind-value:event="oninput"/>
    </div>
    <div>
        <label>Password</label>
        <input @bind-value="@_password" @bind-value:event="oninput"  type="password"/>
    </div>
    <button @onclick="OnSignIn">Sign in</button>
</div>

@code{
    private string _user = "denis";
    private string _password = "qwerty123";
    private string _token;

    private async Task OnSignIn()
    {
        var userModel = new UserModel
        {
            UserName = _user,
            Password = _password
        };

        var token = await IdentityService.GetToken(userModel);
        _token = token.AccessToken;
    }
}